<html>
<head>
    {% block head %}

        {% block meta %}
            <meta charset="utf-8" />
        {% endblock %}

        <title>{% block title %}Espace Etudiant 12{% endblock %} </title>

        {% block style %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <style>
            .middlebarmenu {
                vertical-align: middle;
                padding-top: 43px;
                /* display: table-column-group; */
            }

            @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
            .snip1189 {
                font-family: 'Raleway', Arial, sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
            }
            .snip1189 * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
            }
            .snip1189 li {
                display: inline-block;
                list-style: outside none none;
                margin: 0 1em;
                padding: 0;
            }
            .snip1189 a {
                padding: 0.5em 0.8em;
                margin: 0.2em 0;
                display: block;
                color: rgb(115, 16, 9);
                position: relative;
                text-decoration: none;
            }
            .snip1189 a:before,
            .snip1189 a:after {
                height: 14px;
                width: 14px;
                position: absolute;
                content: '';
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
                opacity: 0;
            }
            .snip1189 a:before {
                left: 0;
                top: 0;
                border-left: 3px solid #c0392b;
                border-top: 3px solid #c0392b;
                -webkit-transform: translate(100%, 50%);
                transform: translate(100%, 50%);
            }
            .snip1189 a:after {
                right: 0;
                bottom: 0;
                border-right: 3px solid #c0392b;
                border-bottom: 3px solid #c0392b;
                -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
            }
            .snip1189 a:hover,
            .snip1189 .current a {
                color: brown;
            }
            .snip1189 a:hover:before,
            .snip1189 .current a:before,
            .snip1189 a:hover:after,
            .snip1189 .current a:after {
                -webkit-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
                opacity: 1;
            }
            /* Demo purposes only */

        </style>
        {% endblock %}

        {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/uisearch.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/SmoothScroll.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/numscroller-1.0.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.flexslider.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

    <script>
    </script>





    {% endblock %}

    {% endblock %}
</head>


<div class="section-header">
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="col-md-2">
                    <img src="{{ asset("images/abcd.png") }}">
                </div>
                <div class="col-md-8 middlebarmenu">
                    <ul class="snip1189">
                        <li class="current"><a href="#">Home</a></li>
                        <li><a href="{{ path('_events') }}">Events</a></li>
                        <li><a href="{{ path('_club') }}">Club</a></li>
                        <li><a href="{{ path('_docs') }}">Docs</a></li>
                        <li><a href="{{ path('_spotted') }}">Spotted</a></li>

                    </ul>
                </div>
                <div class="col-md-2">C</div>
            </div>
        </nav>



    {% endblock %}
</div>

<body>

<div class="section1">
    {% block section1 %}


        <div class="w3l-banner">
            <div class="banner-dott">
                <div class="header">
                    <!-- //Header -->
                    <div class="container">
                        <div class="flexslider-info">
                            <section class="slider">
                                <div class="flexslider">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1140px, 0px, 0px);">
                                            <li class="clone" style="width: 1140px; float: left; display: block;">
                                                <div class="w3l-info">
                                                    <h3>Because you care...</h3>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-book"></i>
                                                            <p>SAVING THE PLANET By educating people</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            <p>Education is to unlock the freedom</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                                                            <p>The aim of education is not knowledge</p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                            <li class="flex-active-slide" style="width: 1140px; float: left; display: block;">
                                                <div class="w3l-info">
                                                    <h2>Because you care...</h2>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                                                            <p>5 Derniers Collocation</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            <p>5 Derniers Objets perdues</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-book"></i>
                                                            <p>5 Derniers evenements</p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                            <li class="" style="width: 1140px; float: left; display: block;">
                                                <div class="w3l-info">
                                                    <h3>Education is important to our life</h3>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            <p>Education is not pail but lighting of fire.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                                                            <p>Education is the key to success in life</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-book"></i>
                                                            <p>Education is not preparation,is life</p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                    <ul class="flex-direction-nav">
                                        <li>
                                            <a class="flex-prev" href="#">Previous</a>
                                        </li>
                                        <li>
                                            <a class="flex-next" href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
</div>




<div class="section2">
    {% block section2 %}
        <div class="about" id="about">
            <div class="container">
                <div class="about-head text-center ">
                    <h3>About</h3>
                </div>
                <div class="about-top-grids">
                    <div class="col-md-3 grid">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <h3>Education-key to unlock door of freedom</h3>
                    </div>
                    <div class="col-md-3 grid">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3>Education is the passport to the future</h3>
                    </div>
                    <div class="col-md-3 grid">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <h3>Education is the premise of the progress</h3>
                    </div>
                    <div class="col-md-3 grid">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3>Education is the most powerful weapon</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-bottom-grid1">
                    <div class="col-md-6 bottomgridtext">
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore </p>
                        <div class="readmore-w3">
                            <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 bottomgridimg">
                        <img src={{ asset("images/about1.jpg") }} alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-bottom-grid2">
                    <div class="col-md-6 bottomgridimg">
                        <img src={{ asset("images/about2.jpg") }} alt="">
                    </div>
                    <div class="col-md-6 bottomgridtext bottomleft">
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore </p>
                        <div class="readmore-w3">
                            <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    {% endblock %}
</div>



<div class="section3">
    {% block section3 %}
        <div class="services" id="services">
            <div class="banner-dott1">
                <div class="container">
                    <div class="about-head text-center ">
                        <h3>Services</h3>
                    </div>

                    <div class="service-top-grids">
                        <div class="col-md-3">
                            <div class="service1">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service2">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service3">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service4">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service-bottom-grids">
                        <div class="col-md-3">
                            <div class="service1">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service2">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service3">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service4">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 servicebottomtext">
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore
                            Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore
                            Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>




<div class="section4">
    {% block section4 %}
        <section class="team" id="team">
            <div class="container">
                <div class="about-head text-center ">
                    <h3>Meet our Professors</h3>
                </div>

                <div class="team-grid-top">
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t1.jpg") }} alt="">
                            <h3>Selena</h3>
                            <h4>Head Master</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t3.jpg") }} alt="">
                            <h3>Mary louis</h3>
                            <h4>Science Professor</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t2.jpg") }} alt="">
                            <h3>Paul kerry</h3>
                            <h4>Staff</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t4.jpg") }} alt="">
                            <h3>john watson</h3>
                            <h4>Lab Staff</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>
        </section>
    {% endblock %}
</div>




<div class="section5">
    {% block section5 %}
        <div class="gallery" id="gallery">
            <div class="container">
                <div class="about-head text-center ">
                    <h3>Gallery</h3>
                </div>
                <div class="gallery-info">
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p1.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p1.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p2.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p2.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p3.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p3.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p4.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p4.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p5.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p5.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p6.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p6.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p7.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p7.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p8.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p8.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p9.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p9.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p10.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p10.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p11.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p11.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p12.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p12.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <script src="js/lightbox-plus-jquery.min.js"></script>
            </div>
        </div>
    {% endblock %}
</div>


<div class="section6">
    {% block section6 %}
        <div class="count-agileits" id="stats">
            <div id="particles-js"></div>
            <div class="about-head text-center ">
                <h3>stats</h3>
            </div>
            <div class="count-grids">
                <div class="count-bgcolor-w3ls">
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-1 scrollzip isShown" data-slno="1" data-min="0" data-max="1052" data-delay=".5" data-increment="5">1052</div>
                            <span></span>
                            <h5>Services available</h5>
                        </div>
                    </div>
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-2 scrollzip isShown" data-slno="2" data-min="0" data-max="2372" data-delay=".5" data-increment="5">2372</div>
                            <span></span>
                            <h5>Clients</h5>
                        </div>
                    </div>
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-3 scrollzip isShown" data-slno="3" data-min="0" data-max="3272" data-delay=".5" data-increment="5">3272</div>
                            <span></span>
                            <h5>our projects</h5>
                        </div>
                    </div>
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-4 scrollzip isShown" data-slno="4" data-min="0" data-max="1509" data-delay=".5" data-increment="5">1509</div>
                            <span></span>
                            <h5>Viewers</h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="statsimg">
                <div class="quote">
                    <span></span>
                    <h3>Education doesn't give life instead knowledge gives</h3>
                    <span></span>
                </div>
            </div>
        </div>
    {% endblock %}
</div>






</body>


<div class="section-footer">
    {% block footer %}
        <div class="copyright-agile">
            <p>© 2018 All rights reserved | Design by <a href="#">Davinci Coders</a></p>
        </div>
    {% endblock %}
</div>

</html>

