<html>
<head>
    {% block head %}

        {% block meta %}
            <meta charset="utf-8" />
        {% endblock %}

        <title>{% block title %}Espace Etudiant00 {% endblock %} </title>

        {% block style %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {% endblock %}

        {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/uisearch.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/SmoothScroll.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/numscroller-1.0.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.flexslider.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

    <script>
    </script>





    {% endblock %}

    {% endblock %}
</head>


<div class="section-header">
    {% block header %}


        <div class="sub-agile">
            <div class="agile1">
                <!-- navigation section -->
                <div>
                    <p><button id="trigger-overlay" type="button"><img alt="menu" class="img-responsive" src="{{ asset('images/menu.png') }}"></button></p>
                </div><!-- open/close -->
                <div class="overlay overlay-boxes">
                    <svg height="101%" preserveAspectRatio="none" viewBox="0 0 1440 806" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path d="m0.005959,200.364029l207.551124,0l0,204.342453l-207.551124,0l0,-204.342453z"></path>
                        <path d="m0.005959,400.45401l207.551124,0l0,204.342499l-207.551124,0l0,-204.342499z"></path>
                        <path d="m0.005959,600.544067l207.551124,0l0,204.342468l-207.551124,0l0,-204.342468z"></path>
                        <path d="m205.752151,-0.36l207.551163,0l0,204.342437l-207.551163,0l0,-204.342437z"></path>
                        <path d="m204.744629,200.364029l207.551147,0l0,204.342453l-207.551147,0l0,-204.342453z"></path>
                        <path d="m204.744629,400.45401l207.551147,0l0,204.342499l-207.551147,0l0,-204.342499z"></path>
                        <path d="m204.744629,600.544067l207.551147,0l0,204.342468l-207.551147,0l0,-204.342468z"></path>
                        <path d="m410.416046,-0.36l207.551117,0l0,204.342437l-207.551117,0l0,-204.342437z"></path>
                        <path d="m410.416046,200.364029l207.551117,0l0,204.342453l-207.551117,0l0,-204.342453z"></path>
                        <path d="m410.416046,400.45401l207.551117,0l0,204.342499l-207.551117,0l0,-204.342499z"></path>
                        <path d="m410.416046,600.544067l207.551117,0l0,204.342468l-207.551117,0l0,-204.342468z"></path>
                        <path d="m616.087402,-0.36l207.551086,0l0,204.342437l-207.551086,0l0,-204.342437z"></path>
                        <path d="m616.087402,200.364029l207.551086,0l0,204.342453l-207.551086,0l0,-204.342453z"></path>
                        <path d="m616.087402,400.45401l207.551086,0l0,204.342499l-207.551086,0l0,-204.342499z"></path>
                        <path d="m616.087402,600.544067l207.551086,0l0,204.342468l-207.551086,0l0,-204.342468z"></path>
                        <path d="m821.748718,-0.36l207.550964,0l0,204.342437l-207.550964,0l0,-204.342437z"></path>
                        <path d="m821.748718,200.364029l207.550964,0l0,204.342453l-207.550964,0l0,-204.342453z"></path>
                        <path d="m821.748718,400.45401l207.550964,0l0,204.342499l-207.550964,0l0,-204.342499z"></path>
                        <path d="m821.748718,600.544067l207.550964,0l0,204.342468l-207.550964,0l0,-204.342468z"></path>
                        <path d="m1027.203979,-0.36l207.550903,0l0,204.342437l-207.550903,0l0,-204.342437z"></path>
                        <path d="m1027.203979,200.364029l207.550903,0l0,204.342453l-207.550903,0l0,-204.342453z"></path>
                        <path d="m1027.203979,400.45401l207.550903,0l0,204.342499l-207.550903,0l0,-204.342499z"></path>
                        <path d="m1027.203979,600.544067l207.550903,0l0,204.342468l-207.550903,0l0,-204.342468z"></path>
                        <path d="m1232.659302,-0.36l207.551147,0l0,204.342437l-207.551147,0l0,-204.342437z"></path>
                        <path d="m1232.659302,200.364029l207.551147,0l0,204.342453l-207.551147,0l0,-204.342453z"></path>
                        <path d="m1232.659302,400.45401l207.551147,0l0,204.342499l-207.551147,0l0,-204.342499z"></path>
                        <path d="m1232.659302,600.544067l207.551147,0l0,204.342468l-207.551147,0l0,-204.342468z"></path>
                        <path d="m-0.791443,-0.360001l207.551163,0l0,204.342438l-207.551163,0l0,-204.342438z"></path></svg> <button class="overlay-close" type="button">Close</button>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a class="scroll" href="#about">About</a>
                            </li>
                            <li>
                                <a class="scroll" href="#services">Services</a>
                            </li>
                            <li>
                                <a class="scroll" href="#team">Team</a>
                            </li>
                            <li>
                                <a class="scroll" href="#gallery">Gallery</a>
                            </li>
                            <li>
                                <a class="scroll" href="#stats">Stats</a>
                            </li>
                            <li>
                                <a class="scroll" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /open/close -->
                <!-- /navigation section -->
            </div><a href="index.html">
                <ul class="logo">
                    <li><i aria-hidden="true" class="glyphicon glyphicon-book"></i></li>
                    <li>
                        <h1>Esprit Entr'Aide</h1>
                    </li>
                </ul></a>
            <div class="number">
                <p><a class="scroll" href="#contact"><i aria-hidden="true" class="fa fa-envelope"></i></a></p>
                <p>+216 90 000 000</p>
            </div>
            <div class="clearfix"></div>
            <div class="search-box">
                <div class="sb-search" id="sb-search">
                    <form>
                        <input class="sb-search-input" id="search" name="search" placeholder="Enter your search term..." type="search"> <input class="sb-search-submit" type="submit" value=""> <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>



    {% endblock %}
</div>

<body>

<div class="section1">
    {% block section1 %}


        <div class="w3l-banner">
            <div class="banner-dott">
                <div class="header">
                    <!-- //Header -->
                    <div class="container">
                        <div class="flexslider-info">
                            <section class="slider">
                                <div class="flexslider">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1140px, 0px, 0px);">
                                            <li class="clone" style="width: 1140px; float: left; display: block;">
                                                <div class="w3l-info">
                                                    <h3>Because you care...</h3>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-book"></i>
                                                            <p>SAVING THE PLANET By educating people</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            <p>Education is to unlock the freedom</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                                                            <p>The aim of education is not knowledge</p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                            <li class="flex-active-slide" style="width: 1140px; float: left; display: block;">
                                                <div class="w3l-info">
                                                    <h2>Because you care...</h2>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                                                            <p>5 Derniers Collocation</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            <p>5 Derniers Objets perdues</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-book"></i>
                                                            <p>5 Derniers evenements</p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                            <li class="" style="width: 1140px; float: left; display: block;">
                                                <div class="w3l-info">
                                                    <h3>Education is important to our life</h3>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            <p>Education is not pail but lighting of fire.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                                                            <p>Education is the key to success in life</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="grid1">
                                                            <i aria-hidden="true" class="fa fa-book"></i>
                                                            <p>Education is not preparation,is life</p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                    <ul class="flex-direction-nav">
                                        <li>
                                            <a class="flex-prev" href="#">Previous</a>
                                        </li>
                                        <li>
                                            <a class="flex-next" href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
</div>




<div class="section2">
    {% block section2 %}
        <div class="about" id="about">
            <div class="container">
                <div class="about-head text-center ">
                    <h3>About</h3>
                </div>
                <div class="about-top-grids">
                    <div class="col-md-3 grid">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <h3>Education-key to unlock door of freedom</h3>
                    </div>
                    <div class="col-md-3 grid">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3>Education is the passport to the future</h3>
                    </div>
                    <div class="col-md-3 grid">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <h3>Education is the premise of the progress</h3>
                    </div>
                    <div class="col-md-3 grid">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3>Education is the most powerful weapon</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-bottom-grid1">
                    <div class="col-md-6 bottomgridtext">
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore </p>
                        <div class="readmore-w3">
                            <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 bottomgridimg">
                        <img src={{ asset("images/about1.jpg") }} alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-bottom-grid2">
                    <div class="col-md-6 bottomgridimg">
                        <img src={{ asset("images/about2.jpg") }} alt="">
                    </div>
                    <div class="col-md-6 bottomgridtext bottomleft">
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore </p>
                        <div class="readmore-w3">
                            <a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    {% endblock %}
</div>



<div class="section3">
    {% block section3 %}
        <div class="services" id="services">
            <div class="banner-dott1">
                <div class="container">
                    <div class="about-head text-center ">
                        <h3>Services</h3>
                    </div>

                    <div class="service-top-grids">
                        <div class="col-md-3">
                            <div class="service1">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service2">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service3">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service4">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service-bottom-grids">
                        <div class="col-md-3">
                            <div class="service1">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service2">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service3">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service4">
                                <div class="col-md-4 icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 serviceicon">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 servicebottomtext">
                        <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore
                            Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore
                            Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>




<div class="section4">
    {% block section4 %}
        <section class="team" id="team">
            <div class="container">
                <div class="about-head text-center ">
                    <h3>Meet our Professors</h3>
                </div>

                <div class="team-grid-top">
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t1.jpg") }} alt="">
                            <h3>Selena</h3>
                            <h4>Head Master</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t3.jpg") }} alt="">
                            <h3>Mary louis</h3>
                            <h4>Science Professor</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t2.jpg") }} alt="">
                            <h3>Paul kerry</h3>
                            <h4>Staff</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 team1">
                        <div class="inner-team1">
                            <img src={{ asset("images/t4.jpg") }} alt="">
                            <h3>john watson</h3>
                            <h4>Lab Staff</h4>
                            <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>
        </section>
    {% endblock %}
</div>




<div class="section5">
    {% block section5 %}
        <div class="gallery" id="gallery">
            <div class="container">
                <div class="about-head text-center ">
                    <h3>Gallery</h3>
                </div>
                <div class="gallery-info">
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p1.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p1.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p2.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p2.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p3.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p3.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p4.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p4.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p5.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p5.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p6.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p6.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p7.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p7.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p8.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p8.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p9.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p9.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p10.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p10.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p11.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p11.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-3 gallery-grids">
                        <a href="images/p12.jpg") }}" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="{{ asset("images/p12.jpg") }}" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <script src="js/lightbox-plus-jquery.min.js"></script>
            </div>
        </div>
    {% endblock %}
</div>


<div class="section6">
    {% block section6 %}
        <div class="count-agileits" id="stats">
            <div id="particles-js"></div>
            <div class="about-head text-center ">
                <h3>stats</h3>
            </div>
            <div class="count-grids">
                <div class="count-bgcolor-w3ls">
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-1 scrollzip isShown" data-slno="1" data-min="0" data-max="1052" data-delay=".5" data-increment="5">1052</div>
                            <span></span>
                            <h5>Services available</h5>
                        </div>
                    </div>
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-2 scrollzip isShown" data-slno="2" data-min="0" data-max="2372" data-delay=".5" data-increment="5">2372</div>
                            <span></span>
                            <h5>Clients</h5>
                        </div>
                    </div>
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-3 scrollzip isShown" data-slno="3" data-min="0" data-max="3272" data-delay=".5" data-increment="5">3272</div>
                            <span></span>
                            <h5>our projects</h5>
                        </div>
                    </div>
                    <div class="col-md-3 count-grid">
                        <div class="count hvr-bounce-to-bottom">
                            <div class="numscroller numscroller-big-bottom roller-title-number-4 scrollzip isShown" data-slno="4" data-min="0" data-max="1509" data-delay=".5" data-increment="5">1509</div>
                            <span></span>
                            <h5>Viewers</h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="statsimg">
                <div class="quote">
                    <span></span>
                    <h3>Education doesn't give life instead knowledge gives</h3>
                    <span></span>
                </div>
            </div>
        </div>
    {% endblock %}
</div>






</body>


<div class="section-footer">
    {% block footer %}
        <div class="copyright-agile">
            <p>© 2018 All rights reserved | Design by <a href="#">Davinci Coders</a></p>
        </div>
    {% endblock %}
</div>

</html>

